@charset "utf-8";

/* SUPER SIDEBAR -------------------------*/

/* MAIN */
.super-sidebar {
	font-family: Arial, sans-serif;
	visibility: hidden;
}
.super-sidebar.sb-ready {
	visibility: visible;
}
.super-sidebar.sb-vhide {
	visibility: hidden;
}

/* RESETS */
.super-sidebar a {
	text-decoration: none;
}
.super-sidebar a:focus {
	outline: none;
	box-shadow: none;
}
.super-sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* CLEARFIX */
.sb-clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* BAR -----------------------------------*/
.sb-bar {
	position: fixed;
	z-index: 10100;
}
.sb-bar.sb-hide {
	display: none;
}

.sb-bar.sb-side-space {
	margin: 2px;
}

.sb-round.sb-side-space {
	margin: 3px;
}
.sb-rounded.sb-side-space {
	margin: 3px;
}

/* BUTTON --------------------------------*/
.sb-bar li {
	position: relative;
	cursor: pointer;
}
.sb-bar li:hover {
	z-index: 1001 !important;
}

.sb-bar.sb-right li {
	height: 42px;
}
.sb-bar.sb-button-space li:not(:last-child) {
	margin-bottom: 2px;
}

.sb-round li {
	border-radius: 21px;
}
.sb-round.sb-button-space li:not(:last-child) {
	margin-bottom: 3px;
}

.sb-rounded li {
	border-radius: 5px;
}
.sb-rounded.sb-button-space li:not(:last-child) {
	margin-bottom: 3px;
}

.sb-rounded-out li {
	border-radius: 0 5px 5px 0;
}

.sb-space {
	margin-top: 4px;
}
.sb-button-space .sb-space {
	margin-top: 6px;
}
.sb-round.sb-button-space .sb-space {
	margin-top: 7px;
}
.sb-rounded.sb-button-space .sb-space {
	margin-top: 7px;
}

/* MASK */
.sb-mask {
	position: relative;
	overflow: hidden;
	z-index: 12;
}
.sb-mask.sb-off {
	overflow: visible;
}
.sb-right .sb-mask {
	position: absolute;
	right: 0;
	height: 42px;
}

.sb-round .sb-mask {
	border-radius: 21px;
}
.sb-rounded .sb-mask {
	border-radius: 5px;
}
.sb-rounded-out .sb-mask {}

/* LINK */
.sb-bar a {
	width: 42px;
	display: block;
	position: relative;
}
.sb-bar.sb-right a {
	position: absolute;
	right: 0;
}

.sb-round a {
	border-radius: 21px;
}
.sb-rounded a {
	border-radius: 5px;
}
.sb-rounded-out a {
	border-radius: 0 5px 5px 0;
}
.sb-right.sb-rounded-out a {
	border-radius: 5px 0 0 5px;
}

/* ICON */
div.sb-icon {
	color: #ffffff;
	background-color: #33AAFF;
	font-size: 21px;
	line-height: 42px;
	text-align: center;
	width: 42px;
	height: 42px;
	background-image: none;
	position: relative;
	z-index: 11;
}
a:hover .sb-icon {
	color: #ffffff;
	background-color: #33AAFF;
}
.sb-right .sb-icon {
	position: absolute;
	right: 0;
}
.sb-round .sb-icon {
	border-radius: 21px;
}
.sb-rounded .sb-icon {
	border-radius: 5px;
}
.sb-rounded-out .sb-icon {
	border-radius: 0 5px 5px 0;
}
.sb-right.sb-rounded-out .sb-icon {
	border-radius: 5px 0 0 5px;
}
.sb-ready .sb-css-anim .sb-icon {
	-webkit-transition: background-color 100ms linear, color 100ms linear;
    -moz-transition: background-color 100ms linear, color 100ms linear;
    -o-transition: background-color 100ms linear, color 100ms linear;
    -ms-transition: background-color 100ms linear, color 100ms linear;
    transition: background-color 100ms linear, color 100ms linear;
}

.sb-icon img {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	margin: auto;
}

/* LABEL */
.sb-label {
	color: #ffffff;
	background-color: #33AAFF;
	font-size: 15px;
	line-height: 42px;
	padding: 0 11px 0 8px;
	position: absolute;
	left: 42px;
	top: 0;
	z-index: 10;
	visibility: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}
.sb-label.sb-show {
	visibility: visible;
}
.sb-right .sb-label {
	padding: 0 8px 0 11px;
	right: 42px;
	left: auto;
}

.sb-label-space .sb-label {
	margin-left: 2px;
}
.sb-right.sb-label-space .sb-label {
	margin-right: 2px;
	margin-left: 0;
}

.sb-round .sb-label {
	border-radius: 21px;
	padding: 0 12px;
}
.sb-rounded .sb-label {
	border-radius: 5px;
	padding: 0 11px;
}
.sb-rounded-out .sb-label {
	border-radius: 5px;
	padding: 0 11px;
}

.sb-connected .sb-label {
	padding: 0 11px 0 50px;
	left: 0;
}
.sb-right.sb-connected .sb-label {
	padding: 0 50px 0 11px;
	right: 0;
	left: auto;
}

.sb-connected.sb-round .sb-label {
	padding: 0 12px 0 47px;
}
.sb-right.sb-connected.sb-round .sb-label {
	padding: 0 47px 0 12px;
}

/* HIT */
.sb-hit {
	height: 100%;
	position: absolute;
	left: 0; top: 0;
	display: none;
	height: 42px;
}
.sb-hit.sb-show {
	display: block;
}

.sb-label-space .sb-hit {
	width: 2px;
	left: 42px;
}
.sb-right.sb-label-space .sb-hit {
	right: 42px;
	left: auto;
}

.sb-round .sb-hit {
	width: 42px;
	left: 21px;
}
.sb-right.sb-round .sb-hit {
	right: 21px;
	left: auto;
}
.sb-round.sb-label-space .sb-hit {
	width: 44px;
}
.sb-right.sb-round.sb-label-space .sb-hit {}

.sb-rounded .sb-hit {
	width: 10px;
	left: 37px;
}
.sb-right.sb-rounded .sb-hit {
	right: 37px;
	left: auto;
}

.sb-rounded.sb-label-space .sb-hit {
	width: 12px;
}
.sb-right.sb-rounded.sb-label-space .sb-hit {}

.sb-rounded-out .sb-hit {
	width: 10px;
	left: 37px;
}
.sb-right.sb-rounded-out .sb-hit {
	right: 37px;
	left: auto;
}
.sb-rounded-out.sb-label-space .sb-hit {
	width: 12px;
}
.sb-right.sb-rounded-out.sb-label-space .sb-hit {}

/* SUBBAR --------------------------------*/
.sb-sub {
	cursor: pointer;
}

.sb-sub > .sb-icon {
	position: relative;
	z-index: 1000;
}

/* LIST */
.sb-sub .sb-subbar {
	width: 42px;
	position: absolute;
	left: 0;
	top: 42px;
}
.sb-sub .sb-subbar.sb-hide {
	visibility: hidden;
}

.sb-sub.sb-side .sb-subbar {
	position: absolute;
	left: 42px;
	top: 0;
}
.sb-right .sb-sub.sb-side .sb-subbar {
	right: 42px;
	left: auto;
}

.sb-sub.sb-circular .sb-subbar {
	position: absolute;
	left: 0; top: 0;
	width: auto;
}
.sb-right .sb-sub.sb-circular .sb-subbar {
	right: 0;
	left: auto;
}

.sb-sub.sb-sub-space .sb-subbar {
	margin-top: 2px;
}
.sb-sub.sb-side.sb-sub-space .sb-subbar {
	margin: 0 2px;
	margin-top: 0;
}

.sb-round .sb-sub.sb-sub-space .sb-subbar,
.sb-rounded .sb-sub.sb-sub-space .sb-subbar {
	margin-top: 3px;
}
.sb-round .sb-sub.sb-side.sb-sub-space .sb-subbar,
.sb-rounded .sb-sub.sb-side.sb-sub-space .sb-subbar {
	margin: 0 3px;
	margin-top: 0;
}

/* SUB BUTTON */
.sb-sub.sb-posabs .sb-subbar li {
	position: absolute;
}
.sb-right .sb-sub.sb-posabs .sb-subbar li {
	right: 0;
}

/* SUB HIT */
.sb-subhit {
	position: absolute;
	display: none;
	left: 0; top: 0;
}
.sb-subhit.sb-show {
	display: block;
}
.sb-right .sb-subhit {
	right: 0;
	left: auto;
}

/* BUTTON COLORS -------------------------*/

/* BRANDS */
.sb-b-airbnb .sb-icon,
.sb-b-airbnb a:hover .sb-icon,
.sb-b-airbnb .sb-label {
	color: #fd5c63;
	background-color: #fd5c63;
}
.sb-b-amazon .sb-icon,
.sb-b-amazon a:hover .sb-icon,
.sb-b-amazon .sb-label {
	color: #ff9900;
	background-color: #ff9900;
}
.sb-b-android .sb-icon,
.sb-b-android a:hover .sb-icon,
.sb-b-android .sb-label {
	color: #a4c639;
	background-color: #a4c639;
}
.sb-b-audible .sb-icon,
.sb-b-audible a:hover .sb-icon,
.sb-b-audible .sb-label {
	color: #f7991c;
	background-color: #f7991c;
}
.sb-b-bandcamp .sb-icon,
.sb-b-bandcamp a:hover .sb-icon,
.sb-b-bandcamp .sb-label {
	color: #629aa9;
	background-color: #629aa9;
}
.sb-b-behance .sb-icon,
.sb-b-behance a:hover .sb-icon,
.sb-b-behance .sb-label {
	color: #1769ff;
	background-color: #1769ff;
}
.sb-b-bitcoin .sb-icon,
.sb-b-bitcoin a:hover .sb-icon,
.sb-b-bitcoin .sb-label {
	color: #006fbf;
	background-color: #006fbf;
}
.sb-b-blogger .sb-icon,
.sb-b-blogger a:hover .sb-icon,
.sb-b-blogger .sb-label {
	color: #f57d00;
	background-color: #f57d00;
}
.sb-b-buffer .sb-icon,
.sb-b-buffer a:hover .sb-icon,
.sb-b-buffer .sb-label {
	color: #168eea;
	background-color: #168eea;
}
.sb-b-deviantart .sb-icon,
.sb-b-deviantart a:hover .sb-icon,
.sb-b-deviantart .sb-label {
	color: #05cc47;
	background-color: #05cc47;
}
.sb-b-diaspora .sb-icon,
.sb-b-diaspora a:hover .sb-icon,
.sb-b-diaspora .sb-label {
	color: #a62a9a;
	background-color: #a62a9a;
}
.sb-b-digg .sb-icon,
.sb-b-digg a:hover .sb-icon,
.sb-b-digg .sb-label {
	color: #005be2;
	background-color: #005be2;
}
.sb-b-discord .sb-icon,
.sb-b-discord a:hover .sb-icon,
.sb-b-discord .sb-label {
	color: #7289da;
	background-color: #7289da;
}
.sb-b-douban .sb-icon,
.sb-b-douban a:hover .sb-icon,
.sb-b-douban .sb-label {
	color: #228a31;
	background-color: #228a31;
}
.sb-b-dribbble .sb-icon,
.sb-b-dribbble a:hover .sb-icon,
.sb-b-dribbble .sb-label {
	color: #ea4c89;
	background-color: #ea4c89;
}
.sb-b-dropbox .sb-icon,
.sb-b-dropbox a:hover .sb-icon,
.sb-b-dropbox .sb-label {
	color: #007ee5;
	background-color: #007ee5;
}
.sb-b-ebay .sb-icon,
.sb-b-ebay a:hover .sb-icon,
.sb-b-ebay .sb-label {
	color: #e53238;
	background-color: #e53238;
}
.sb-b-etsy .sb-icon,
.sb-b-etsy a:hover .sb-icon,
.sb-b-etsy .sb-label {
	color: #d5641c;
	background-color: #d5641c;
}
.sb-b-evernote .sb-icon,
.sb-b-evernote a:hover .sb-icon,
.sb-b-evernote .sb-label {
	color: #2dbe60;
	background-color: #2dbe60;
}
.sb-b-facebook .sb-icon,
.sb-b-facebook a:hover .sb-icon,
.sb-b-facebook .sb-label {
	color: #3b5998;
	background-color: #3b5998;
}
.sb-b-flickr .sb-icon,
.sb-b-flickr a:hover .sb-icon,
.sb-b-flickr .sb-label {
	color: #ff0084;
	background-color: #ff0084;
}
.sb-b-flipboard .sb-icon,
.sb-b-flipboard a:hover .sb-icon,
.sb-b-flipboard .sb-label {
	color: #e12828;
	background-color: #e12828;
}
.sb-b-foursquare .sb-icon,
.sb-b-foursquare a:hover .sb-icon,
.sb-b-foursquare .sb-label {
	color: #f94877;
	background-color: #f94877;
}
.sb-b-github .sb-icon,
.sb-b-github a:hover .sb-icon,
.sb-b-github .sb-label {
	color: #4078c0;
	background-color: #4078c0;
}
.sb-b-goodreads .sb-icon,
.sb-b-goodreads a:hover .sb-icon,
.sb-b-goodreads .sb-label {
	color: #553b08;
	background-color: #553b08;
}
.sb-b-google-bookmarks .sb-icon,
.sb-b-google-bookmarks a:hover .sb-icon,
.sb-b-google-bookmarks .sb-label {
	color: #4285f4;
	background-color: #4285f4;
}
.sb-b-google-drive .sb-icon,
.sb-b-google-drive a:hover .sb-icon,
.sb-b-google-drive .sb-label {
	color: #34a853;
	background-color: #34a853;
}
.sb-b-google-play .sb-icon,
.sb-b-google-play a:hover .sb-icon,
.sb-b-google-play .sb-label {
	color: #fbbc05;
	background-color: #fbbc05;
}
.sb-b-hacker-news .sb-icon,
.sb-b-hacker-news a:hover .sb-icon,
.sb-b-hacker-news .sb-label {
	color: #ff4000;
	background-color: #ff4000;
}
.sb-b-instagram .sb-icon,
.sb-b-instagram a:hover .sb-icon,
.sb-b-instagram .sb-label {
	color: #3f729b;
	background-color: #3f729b;
}
.sb-b-instapaper .sb-icon,
.sb-b-instapaper a:hover .sb-icon,
.sb-b-instapaper .sb-label {
	color: #428bca;
	background-color: #428bca;
}
.sb-b-itunes .sb-icon,
.sb-b-itunes a:hover .sb-icon,
.sb-b-itunes .sb-label {
	color: #000000;
	background-color: #000000;
}
.sb-b-kickstarter .sb-icon,
.sb-b-kickstarter a:hover .sb-icon,
.sb-b-kickstarter .sb-label {
	color: #2bde73;
	background-color: #2bde73;
}
.sb-b-line .sb-icon,
.sb-b-line a:hover .sb-icon,
.sb-b-line .sb-label {
	color: #00c300;
	background-color: #00c300;
}
.sb-b-linkedin .sb-icon,
.sb-b-linkedin a:hover .sb-icon,
.sb-b-linkedin .sb-label {
	color: #0077b5;
	background-color: #0077b5;
}
.sb-b-livejournal .sb-icon,
.sb-b-livejournal a:hover .sb-icon,
.sb-b-livejournal .sb-label {
	color: #00B0EA;
	background-color: #00B0EA;
}
.sb-b-medium .sb-icon,
.sb-b-medium a:hover .sb-icon,
.sb-b-medium .sb-label {
	color: #02b875;
	background-color: #02b875;
}
.sb-b-myspace .sb-icon,
.sb-b-myspace a:hover .sb-icon,
.sb-b-myspace .sb-label {
	color: #404040;
	background-color: #404040;
}
.sb-b-okru .sb-icon,
.sb-b-okru a:hover .sb-icon,
.sb-b-okru .sb-label {
	color: #f58220;
	background-color: #f58220;
}
.sb-b-patreon .sb-icon,
.sb-b-patreon a:hover .sb-icon,
.sb-b-patreon .sb-label {
	color: #f96854;
	background-color: #f96854;
}
.sb-b-paypal .sb-icon,
.sb-b-paypal a:hover .sb-icon,
.sb-b-paypal .sb-label {
	color: #003087;
	background-color: #003087;
}
.sb-b-periscope .sb-icon,
.sb-b-periscope a:hover .sb-icon,
.sb-b-periscope .sb-label {
	color: #3aa4c6;
	background-color: #3aa4c6;
}
.sb-b-pinterest .sb-icon,
.sb-b-pinterest a:hover .sb-icon,
.sb-b-pinterest .sb-label {
	color: #cc2127;
	background-color: #cc2127;
}
.sb-b-pocket .sb-icon,
.sb-b-pocket a:hover .sb-icon,
.sb-b-pocket .sb-label {
	color: #ef4056;
	background-color: #ef4056;
}
.sb-b-qq .sb-icon,
.sb-b-qq a:hover .sb-icon,
.sb-b-qq .sb-label {
	color: #1479d7;
	background-color: #1479d7;
}
.sb-b-quora .sb-icon,
.sb-b-quora a:hover .sb-icon,
.sb-b-quora .sb-label {
	color: #b92b27;
	background-color: #b92b27;
}
.sb-b-qzone .sb-icon,
.sb-b-qzone a:hover .sb-icon,
.sb-b-qzone .sb-label {
	color: #ffce00;
	background-color: #ffce00;
}
.sb-b-reddit .sb-icon,
.sb-b-reddit a:hover .sb-icon,
.sb-b-reddit .sb-label {
	color: #ff4500;
	background-color: #ff4500;
}
.sb-b-renren .sb-icon,
.sb-b-renren a:hover .sb-icon,
.sb-b-renren .sb-label {
	color: #0e5ea7;
	background-color: #0e5ea7;
}
.sb-b-skype .sb-icon,
.sb-b-skype a:hover .sb-icon,
.sb-b-skype .sb-label {
	color: #00AFF0;
	background-color: #00AFF0;
}
.sb-b-slack .sb-icon,
.sb-b-slack a:hover .sb-icon,
.sb-b-slack .sb-label {
	color: #3aaf85;
	background-color: #3aaf85;
}
.sb-b-slideshare .sb-icon,
.sb-b-slideshare a:hover .sb-icon,
.sb-b-slideshare .sb-label {
	color: #0077b5;
	background-color: #0077b5;
}
.sb-b-snapchat .sb-icon,
.sb-b-snapchat a:hover .sb-icon,
.sb-b-snapchat .sb-label {
	color: #e4e200;
	background-color: #e4e200;
}
.sb-b-soundcloud .sb-icon,
.sb-b-soundcloud a:hover .sb-icon,
.sb-b-soundcloud .sb-label {
	color: #ff8800;
	background-color: #ff8800;
}
.sb-b-stack-overflow .sb-icon,
.sb-b-stack-overflow a:hover .sb-icon,
.sb-b-stack-overflow .sb-label {
	color: #f48024;
	background-color: #f48024;
}
.sb-b-steam .sb-icon,
.sb-b-steam a:hover .sb-icon,
.sb-b-steam .sb-label {
	color: #00adee;
	background-color: #00adee;
}
.sb-b-telegram .sb-icon,
.sb-b-telegram a:hover .sb-icon,
.sb-b-telegram .sb-label {
	color: #0088cc;
	background-color: #0088cc;
}
.sb-b-tumblr .sb-icon,
.sb-b-tumblr a:hover .sb-icon,
.sb-b-tumblr .sb-label {
	color: #35465c;
	background-color: #35465c;
}
.sb-b-twitch .sb-icon,
.sb-b-twitch a:hover .sb-icon,
.sb-b-twitch .sb-label {
	color: #6441a5;
	background-color: #6441a5;
}
.sb-b-twitter .sb-icon,
.sb-b-twitter a:hover .sb-icon,
.sb-b-twitter .sb-label {
	color: #55acee;
	background-color: #55acee;
}
.sb-b-uber .sb-icon,
.sb-b-uber a:hover .sb-icon,
.sb-b-uber .sb-label {
	color: #09091a;
	background-color: #09091a;
}
.sb-b-vimeo .sb-icon,
.sb-b-vimeo a:hover .sb-icon,
.sb-b-vimeo .sb-label {
	color: #1ab7ea;
	background-color: #1ab7ea;
}
.sb-b-vk .sb-icon,
.sb-b-vk a:hover .sb-icon,
.sb-b-vk .sb-label {
	color: #45668e;
	background-color: #45668e;
}
.sb-b-weibo .sb-icon,
.sb-b-weibo a:hover .sb-icon,
.sb-b-weibo .sb-label {
	color: #df2029;
	background-color: #df2029;
}
.sb-b-wikipedia .sb-icon,
.sb-b-wikipedia a:hover .sb-icon,
.sb-b-wikipedia .sb-label {
	color: #939598;
	background-color: #939598;
}
.sb-b-wordpress .sb-icon,
.sb-b-wordpress a:hover .sb-icon,
.sb-b-wordpress .sb-label {
	color: #21759b;
	background-color: #21759b;
}
.sb-b-xing .sb-icon,
.sb-b-xing a:hover .sb-icon,
.sb-b-xing .sb-label {
	color: #026466;
	background-color: #026466;
}
.sb-b-yahoo .sb-icon,
.sb-b-yahoo a:hover .sb-icon,
.sb-b-yahoo .sb-label {
	color: #410093;
	background-color: #410093;
}
.sb-b-yelp .sb-icon,
.sb-b-yelp a:hover .sb-icon,
.sb-b-yelp .sb-label {
	color: #af0606;
	background-color: #af0606;
}
.sb-b-youtube .sb-icon,
.sb-b-youtube a:hover .sb-icon,
.sb-b-youtube .sb-label {
	color: #cd201f;
	background-color: #cd201f;
}

/* SPECIAL */
.sb-b-email .sb-icon,
.sb-b-email a:hover .sb-icon,
.sb-b-email .sb-label {
	color: #e9401e;
	background-color: #e9401e;
}
.sb-b-print .sb-icon,
.sb-b-print a:hover .sb-icon,
.sb-b-print .sb-label {
	color: #585ED8;
	background-color: #585ED8;
}

/* WINDOWS */
.sb-b-about .sb-icon,
.sb-b-about a:hover .sb-icon,
.sb-b-about .sb-label {
	color: #1881CC;
	background-color: #1881CC;
}
.sb-b-newsletter .sb-icon,
.sb-b-newsletter a:hover .sb-icon,
.sb-b-newsletter .sb-label {
	color: #ffaa22;
	background-color: #ffaa22;
}
.sb-b-contact .sb-icon,
.sb-b-contact a:hover .sb-icon,
.sb-b-contact .sb-label {
	color: #e9401e;
	background-color: #e9401e;
}

.sb-b-normal-window .sb-icon,
.sb-b-normal-window a:hover .sb-icon,
.sb-b-normal-window .sb-label {
	color: #1881CC;
	background-color: #1881CC;
}
.sb-b-small-window .sb-icon,
.sb-b-small-window a:hover .sb-icon,
.sb-b-small-window .sb-label {
	color: #ffaa22;
	background-color: #ffaa22;
}
.sb-b-big-window .sb-icon,
.sb-b-big-window a:hover .sb-icon,
.sb-b-big-window .sb-label {
	color: #e9401e;
	background-color: #e9401e;
}
.sb-b-large-window .sb-icon,
.sb-b-large-window a:hover .sb-icon,
.sb-b-large-window .sb-label {
	color: #1dd442;
	background-color: #1dd442;
}

/* SUBS */
.sb-b-social > .sb-icon,
.sb-b-social:hover > .sb-icon {
	color: #1d8edf;
	background-color: #1d8edf;
}
.sb-b-info > .sb-icon,
.sb-b-info:hover > .sb-icon {
	color: #2EC91F;
	background-color: #2EC91F;
}

/* COLORS */
.sb-bar.sb-blue-button .sb-icon,
.sb-bar.sb-blue-button-over a:hover .sb-icon,
.sb-bar.sb-blue-button-over .sb-label,
.sb-bar.sb-blue-button-over .sb-sub:hover > .sb-icon {
	background-color: #33AAFF;
}
.sb-bar.sb-red-button .sb-icon,
.sb-bar.sb-red-button-over a:hover .sb-icon,
.sb-bar.sb-red-button-over .sb-label,
.sb-bar.sb-red-button-over .sb-sub:hover > .sb-icon {
	background-color: #f73726;
}
.sb-bar.sb-yellow-button .sb-icon,
.sb-bar.sb-yellow-button-over a:hover .sb-icon,
.sb-bar.sb-yellow-button-over .sb-label,
.sb-bar.sb-yellow-button-over .sb-sub:hover > .sb-icon {
	background-color: #FFBD22;
}
.sb-bar.sb-green-button .sb-icon,
.sb-bar.sb-green-button-over a:hover .sb-icon,
.sb-bar.sb-green-button-over .sb-label,
.sb-bar.sb-green-button-over .sb-sub:hover > .sb-icon {
	background-color: #1dd442;
}
.sb-bar.sb-white-button .sb-icon,
.sb-bar.sb-white-button-over a:hover .sb-icon,
.sb-bar.sb-white-button-over .sb-label,
.sb-bar.sb-white-button-over .sb-sub:hover > .sb-icon {
	background-color: #ffffff;
}
.sb-bar.sb-black-button .sb-icon,
.sb-bar.sb-black-button-over a:hover .sb-icon,
.sb-bar.sb-black-button-over .sb-label,
.sb-bar.sb-black-button-over .sb-sub:hover > .sb-icon {
	background-color: #3a3a3a;
}

.sb-bar.sb-blue-icon .sb-icon,
.sb-bar.sb-blue-icon-over a:hover .sb-icon,
.sb-bar.sb-blue-icon-over .sb-sub:hover > .sb-icon {
	color: #33AAFF;
}
.sb-bar.sb-red-icon .sb-icon,
.sb-bar.sb-red-icon-over a:hover .sb-icon,
.sb-bar.sb-red-icon-over .sb-sub:hover > .sb-icon {
	color: #f73726;
}
.sb-bar.sb-yellow-icon .sb-icon,
.sb-bar.sb-yellow-icon-over a:hover .sb-icon,
.sb-bar.sb-yellow-icon-over .sb-sub:hover > .sb-icon {
	color: #FFBD22;
}
.sb-bar.sb-green-icon .sb-icon,
.sb-bar.sb-green-icon-over a:hover .sb-icon,
.sb-bar.sb-green-icon-over .sb-sub:hover > .sb-icon {
	color: #1dd442;
}
.sb-bar.sb-white-icon .sb-icon,
.sb-bar.sb-white-icon-over a:hover .sb-icon,
.sb-bar.sb-white-icon-over .sb-sub:hover > .sb-icon {
	color: #ffffff;
}
.sb-bar.sb-black-icon .sb-icon,
.sb-bar.sb-black-icon-over a:hover .sb-icon,
.sb-bar.sb-black-icon-over .sb-sub:hover > .sb-icon {
	color: #3a3a3a;
}

.sb-bar.sb-blue-label .sb-label {
	background-color: #33AAFF;
}
.sb-bar.sb-red-label .sb-label {
	background-color: #f73726;
}
.sb-bar.sb-yellow-label .sb-label {
	background-color: #FFBD22;
}
.sb-bar.sb-green-label .sb-label {
	background-color: #1dd442;
}
.sb-bar.sb-white-label .sb-label {
	background-color: #ffffff;
}
.sb-bar.sb-black-label .sb-label {
	background-color: #3a3a3a;
}

.sb-bar.sb-blue-label-text .sb-label {
	color: #33AAFF;
}
.sb-bar.sb-red-label-text .sb-label {
	color: #f73726;
}
.sb-bar.sb-yellow-label-text .sb-label {
	color: #FFBD22;
}
.sb-bar.sb-green-label-text .sb-label {
	color: #1dd442;
}
.sb-bar.sb-white-label-text .sb-label {
	color: #ffffff;
}
.sb-bar.sb-black-label-text .sb-label {
	color: #3a3a3a;
}

/* OVERLAY -------------------------------*/
.sb-overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10101;
	display: none;
}
.sb-overlay.sb-show {
	display: block;
}

.sb-shadow {
	background-color: #2f2f2f;
	opacity: 0.3;
	width: 100%;
	height: 100%;
}

/* WINDOW --------------------------------*/

/* MAIN */
.sb-window {
	background-color: #f0f0f0;
	padding: 1px;
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	position: absolute;
	display: none;
}
.sb-window.sb-show {
	display: block;
}
.sb-round .sb-window {
	border-radius: 5px;
}
.sb-winshadow .sb-window {
	box-shadow: 0 0 5px 2px rgba(70, 70, 70, 0.1);
}

.sb-normal-window {
	max-width: 500px;
}
.sb-small-window {
	max-width: 400px;
}
.sb-big-window {
	max-width: 700px;
}
.sb-large-window {
	max-width: 1000px;
}

/* HEAD */
.sb-head {
	background-color: #33AAFF;
	padding: 18px 17px;
	line-height: 21px;
	min-height: 21px;
}
.sb-round .sb-head {
	border-radius: 5px 5px 0 0;
}

.sb-title {
	color: #ffffff;
	font-size: 20px;
	display: inline;
	cursor: default;
	vertical-align: middle;
}
.sb-close {
	background: url("../images/window/close-white.png") no-repeat center;
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}

.sb-normal-window .sb-head {
	background-color: #33AAFF;
}
.sb-small-window .sb-head {
	background-color: #FFBD22;
}
.sb-big-window .sb-head {
	background-color: #FF6B4D;
}
.sb-large-window .sb-head {
	background-color: #1dd442;
}

.sb-blue .sb-head {
	background-color: #33AAFF !important;
}
.sb-red .sb-head {
	background-color: #FF6B4D !important;
}
.sb-yellow .sb-head {
	background-color: #FFBD22 !important;
}
.sb-green .sb-head {
	background-color: #1dd442 !important;
}
.sb-black .sb-head {
	background-color: #505050 !important;
}

.sb-white .sb-head {
	background-color: #f2f2f2 !important;
}
.sb-white .sb-window {
	background-color: #fafafa;
}
.sb-white .sb-title {
	color: #707070;
}
.sb-white .sb-close {
	background-image: url("../images/window/close-black.png");
}

/* BODY */
.sb-body {
	font-size: 15px;
	padding: 15px;
	color: #707070;
	line-height: 18px;

	/* Clearfix */
	content: "";
	display: table;
	clear: both;
}

.sb-body p {
	margin: 0;
	line-height: 18px;
}
.sb-body p:not(:last-child) {
	margin-bottom: 8px;
}

.sb-sep {
	border-top: 1px solid #d0d0d0;
	border-bottom: 1px solid #fff;
	margin: 12px 0;
	clear: both;
}

/* FORM ----------------------------------*/
.sb-form {
	margin-top: 13px;
}
.sb-form label {
	font-size: 14px;
	font-weight: bold;
	color: #808080;
	margin-top: 7px;
	display: block;
}
.sb-form input[type=text],
.sb-form textarea {
	font-size: 15px;
	color: #505050;
	padding: 7px;
	background-color: #fafafa;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	margin-top: 5px;
	width: 100%;
	box-sizing: border-box;
}
.sb-form input[type=text]:hover,
.sb-form textarea:hover {
	border-color: #1d8edf;
}
.sb-form textarea {
	height: 80px;
}
.sb-fielderror {
	border-color: red !important;
}

.sb-submit {
	padding: 5px 10px;
	border: 1px solid #a0a0a0;
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	background-color: #fafafa;
	margin-top: 7px;
}
.sb-submit:hover {
	background-color: #1d8edf;
	border-color: #2C6D9B;
	color: #ffffff;
}
.sb-submit:active {
	background-color: #5CA8DE;
}

.sb-form-group {
	display: table;
	width: 100%;
	border-collapse: collapse;
}
.sb-form-group > div {
	display: table-cell;
}
.sb-form-group > div:nth-child(1),
.sb-form-group > div:nth-child(3) {
	width: 1%;
	white-space: nowrap;
}
.sb-form-group label {
	font-size: 14px;
	line-height: 23px;
	margin: 0 5px 0 0;
}
.sb-form-group input[type="text"] {
	max-width: none;
	margin-top: 0;
}
.sb-form-group .sb-submit {
	margin-top: 0;
	padding: 7px 15px;
	margin-left: 5px;
}

.sb-status {
	margin-top: 10px;
	display: none;
	margin-bottom: -3px;
}
.sb-status.sb-show {
	display: block;
}

.sb-sicon {
	width: 18px;
	height: 18px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 1px;
	margin-right: 7px;
	display: inline-block;
	vertical-align: top;
}
.sb-working .sb-sicon {
	width: 24px;
	height: 24px;
	background-image: url("../images/window/preloader.gif");
}
.sb-success .sb-sicon {
	background-image: url("../images/window/success.png");
}
.sb-error .sb-sicon {
	background-image: url("../images/window/error.png");
}
.sb-message {
	line-height: 18px;
	display: inline-block;
	vertical-align: top;
}
.sb-working .sb-message {
	line-height: 24px;
}

/* CUSTOM WINDOWS ------------------------*/

/* ABOUT */
#super-sidebar-about {
	max-width: 450px;
}
#super-sidebar-about .sb-head {
	background-color: #33AAFF;
}
#super-sidebar-about .sb-body {
	padding-bottom: 13px;
}

.sb-about-logo {
	float: left;
	width: 100px;
	padding: 15px 10px 0 5px;
}
.sb-about-desc {
	float: left;
	width: 290px;
	padding: 5px 5px 5px 10px;
}

.sb-about-info {
	width: 100%;
	font-size: 14px;
}
.sb-about-info td {
	padding: 5px 0;
}
.sb-about-info td:nth-child(1) {
	width: 100px;
	padding-left: 20px;
}
.sb-about-info td:nth-child(2) {
	font-style: italic;
}
.sb-about-info label {
	font-size: 14px;
	font-weight: bold;
}

/* CONTACT */
#super-sidebar-contact {
	max-width: 420px;
}
#super-sidebar-contact .sb-head {
	background-color: #FF6B4D;
}

/* NEWSLETTER */
#super-sidebar-newsletter {
	max-width: 570px;
}
#super-sidebar-newsletter .sb-head {
	background-color: #FFBD22;
}
#super-sidebar-newsletter .sb-body {
	padding-bottom: 17px;
}
#super-sidebar-newsletter .sb-form {
	margin-top: 15px;
}
#super-sidebar-newsletter .sb-status {
	text-align: center;
	margin-bottom: -5px;
	width: 100%;
}